.form {
    width: 100%;

    form {
        display: inline-block;
        padding: 30px;
        margin-left: 350px;
        margin-bottom: 30px;
        background-color: $basetexto;
        color: $marronmedio;
        border: $marronmedio solid 2px;
        border-radius: 3px;
        font-family: $quicksand;
        align-items: center;


        input {
            margin: 5px;
            border: solid 2px $marronmedio;
            border-radius: 5px;

            &:focus {
                outline-color: $marronfuerte;
            }
        }

        label {
            color: $marronfuerte;
        }


        textarea {
            margin: 5px;
            border: $marronmedio solid 2px;
            border-radius: 5px;

            &:focus {
                outline-color: $marronfuerte;
            }
        }

        button {
            @include button($basetexto, $marronfuerte);
            font-weight: 600;
            border-radius: 12px;
            border-color: $marronmedio;
            margin-left: 180px;

            &:hover {
                background-color: $marronfuerte;
                color: $basetexto;
                font-weight: bold;
            }
        }

    }
}

//Tablet 768px
@media (max-width: 768px) {
    .form {

        form {
            width: 60%;
            height: 400px;
            margin: 50px;
            margin-left: 150px;

            input {
                margin: 2px;
                font-size: 12px;


            }

            textarea {
                width: 85%;
                height: 40%;
                margin: 0px 25px;
            }

            button {
                margin: 1px 135px;
            }
        }
    }
}

//Mobile 375px
@media (max-width: 375px) {
    .form {
        width: 90%;

        form {
            width: 90%;
            height: 350px;
            margin-top: 10px;
            margin-left: 35px;
            padding: 5px;



            input {
                margin: 2px;
                font-size: 12px;

            }

            label {
                font-size: 13px;
            }

            textarea {
                width: 95%;
                height: 35%;
                font-size: 12px;
                margin: 5px;
            }

            button {
                font-size: 12px;
                margin-left: 95px;
                margin-top: -120px;

            }

        }
    }
   
}