@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Quicksand:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

.sectionhome .textohome p, .esencia p, .parrafoobjetos {
  background-color: #fdfdf6cd;
  color: #a1866c;
  font-size: 25px; }

@media (max-width: 520px) {
  .sectionhome .textohome p, .esencia p, .parrafoobjetos {
    font-size: 11px; } }

.titulo {
  display: block; }
  .titulo h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    background-color: #fdfdf6cd;
    color: #a1866c;
    text-align: left;
    padding: 20px;
    margin: 15px; }

@media (max-width: 768px) {
  .titulo h1 {
    font-size: 1.3rem;
    padding: 10px;
    margin: 8px; } }

@media (max-width: 375px) {
  .titulo h1 {
    font-size: 0.8rem;
    padding: 8px;
    margin: 8px; } }

.body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../img/fondo-palmeras.jpg");
  filter: opacity(100%);
  background-size: 100% 120%;
  background-repeat: no-repeat;
  overflow: none; }
  .body::-webkit-scrollbar {
    width: 9px;
    height: 10px; }
  .body::-webkit-scrollbar-track {
    background-color: #fdfdf6cd; }
  .body::-webkit-scrollbar-thumb {
    background-color: #d4bea97e;
    border-radius: 10px;
    border: 1px solid #fdfdf6cd; }
  .body .fa-solid {
    position: sticky;
    font-size: 30px;
    color: #d4bea97e;
    cursor: pointer;
    left: 15px;
    bottom: 150px; }

@media (max-width: 375px) {
  .body .fa-solid {
    font-size: 20px; } }

.navbar {
  background-color: #fdfdf6cd !important; }
  .navbar button {
    border: none; }
    .navbar button .navbar-toggler {
      font-size: 18px;
      font-weight: bold; }
  .navbar .collapse {
    justify-content: end; }
    .navbar .collapse .navbar-nav {
      align-items: flex-end; }
      .navbar .collapse .navbar-nav .nav-link {
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        background-color: #d4bea97e;
        color: #fdfdf6cd;
        margin: 5px;
        padding: 3px;
        border-radius: 5px;
        text-align: center;
        width: 150px; }
        .navbar .collapse .navbar-nav .nav-link:hover {
          background-color: #fdfdf6cd;
          color: #a1866c; }
      .navbar .collapse .navbar-nav .dropdown-menu {
        background-color: #d4bea97e;
        border: 0px; }
        .navbar .collapse .navbar-nav .dropdown-menu .dropdown-item {
          color: #fdfdf6cd;
          font-family: "Quicksand", sans-serif;
          font-weight: bold; }
          .navbar .collapse .navbar-nav .dropdown-menu .dropdown-item:hover {
            background-color: #fdfdf6cd;
            color: #a1866c; }

@media (max-width: 768px) {
  nav div a img {
    width: 100px; } }

@media (max-width: 375px) {
  nav div a img {
    width: 70px; } }

footer {
  background-image: linear-gradient(to top right, #fdfdf6cd, #d4bea97e, #fdfdf6cd);
  padding: 35px;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; }
  footer .redes {
    display: flex;
    flex-direction: row; }
    footer .redes a {
      padding: 10px;
      font-size: 32px;
      color: #a1866c;
      text-align: center;
      text-decoration: none; }

@media (max-width: 768px) {
  footer {
    padding: 20px;
    margin-bottom: 0px; }
    footer div a img {
      width: 120px; }
    footer .redes a {
      font-size: 22px; } }

@media (max-width: 375px) {
  footer {
    padding: 10px;
    margin-bottom: 0px; }
    footer div a img {
      width: 70px; }
    footer .redes a {
      font-size: 17px; } }

.sectionhome {
  display: flex; }
  .sectionhome .imghome img {
    width: 400px;
    margin: 50px 100px;
    padding: 15px;
    background-color: #d4bea97e;
    border-radius: 3px; }
  .sectionhome .textohome p {
    font-family: "Quicksand", sans-serif;
    width: 600px;
    margin: 50px 0px 20px 30px;
    padding: 30px;
    padding-bottom: 80px;
    border-radius: 3px; }
  .sectionhome .textohome .buttonconocenos {
    margin-top: -80px; }
    .sectionhome .textohome .buttonconocenos a {
      background-color: #fdfdf6cd;
      color: #a1866c;
      padding: 5px 25px 5px 25px;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      margin-left: 400px;
      text-decoration: none;
      font-weight: 600;
      border-radius: 12px;
      border: 2px #a1866c; }
      .sectionhome .textohome .buttonconocenos a:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

.basehome {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .basehome img {
    width: 280px;
    height: auto;
    padding: 10px;
    margin: 50px 30px 100px 50px;
    background-color: #d4bea97e; }
    .basehome img:hover {
      transform: translatey(-15px);
      transition: 0.6s;
      cursor: pointer; }
  .basehome .buttontienda {
    display: inline-flex; }
    .basehome .buttontienda a {
      background-color: #fdfdf6cd;
      color: #a1866c;
      padding: 5px 25px 5px 25px;
      text-align: center;
      margin: 500px 30px 400px 20px;
      text-decoration: none;
      font-family: "Quicksand", sans-serif;
      font-size: 18px;
      display: inline-block;
      font-weight: 600;
      padding: 5px 25px 5px 25px;
      border-radius: 12px;
      border-color: 2px #a1866c; }
      .basehome .buttontienda a:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

@media (max-width: 768px) {
  main {
    min-height: 80vh; }
  .sectionhome .imghome img {
    width: 280px;
    margin: 50px 35px 40px;
    padding: 7px; }
  .sectionhome .textohome p {
    font-size: 14px;
    width: 350px;
    margin: 90px 0px 30px 10px;
    padding: 30px; }
  .sectionhome .textohome .buttonconocenos {
    font-size: 11px;
    margin: -60px -150px; }
    .sectionhome .textohome .buttonconocenos a {
      font-size: 12px; }
  .basehome {
    flex-wrap: wrap;
    margin: 30px 0px 50px; }
    .basehome img {
      width: 150px;
      padding: 5px;
      margin: 60px 10px 20px 40px; }
    .basehome .buttontienda a {
      margin: 35px 20px 10px 20px;
      font-size: 11px;
      padding: 15px 25px 15px 25px; } }

@media (max-width: 375px) {
  main {
    min-height: 104vh; }
  .sectionhome {
    flex-direction: column-reverse;
    align-items: center; }
    .sectionhome .imghome img {
      width: 160px;
      margin: 60px auto;
      padding: 4px; }
    .sectionhome .textohome p {
      font-size: 14px;
      width: 350px;
      margin: 5px 10px 5px 10px;
      padding: 13px;
      padding-bottom: 35px;
      text-align: center; }
    .sectionhome .textohome .buttonconocenos {
      font-size: 11px;
      margin: -34px -273px; }
      .sectionhome .textohome .buttonconocenos a {
        font-size: 11px; }
  .basehome {
    flex-wrap: wrap;
    margin-top: 40px; }
    .basehome img {
      width: 120px;
      padding: 4px;
      margin-top: 5px; }
    .basehome .buttontienda a {
      margin: 35px 10px 10px 50px;
      font-size: 11px;
      padding: 10px 15px 10px 15px; }
  footer {
    margin-bottom: -29vh; } }

.esencia {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px; }
  .esencia p {
    font-family: "Quicksand", sans-serif;
    width: 500px;
    padding: 30px;
    padding-bottom: 80px;
    margin: 50px; }
  .esencia img {
    width: 450px;
    margin: 50px;
    padding: 10px;
    background-color: #d4bea97e; }

main img {
  width: 100px;
  margin-left: 450px;
  margin-top: -330px; }

@media (max-width: 768px) {
  .esencia p {
    font-size: 14px;
    width: 300px;
    padding: 20px;
    padding-bottom: 30px;
    margin: 25px; }
  .esencia img {
    width: 270px;
    margin: 25px;
    padding: 8px; }
  main img {
    width: 55px;
    margin-left: 257px;
    margin-top: -183px; } }

@media (max-width: 375px) {
  .esencia {
    flex-direction: column-reverse; }
    .esencia p {
      font-size: 14px;
      width: 300px;
      padding: 12px;
      padding-bottom: 30px;
      margin: 1px 2px 2px 1px; }
    .esencia img {
      width: 150px;
      margin-top: 3px;
      padding: 4px; }
  main img {
    width: 45px;
    margin-left: 240px;
    margin-top: -130px; } }

.fondoobjetos {
  background-color: #fdfdf6cd; }

.parrafoobjetos {
  display: block;
  text-align: justify;
  padding: 22px;
  margin: 40px;
  font-family: "Quicksand", sans-serif; }

.imgobjetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .imgobjetos #macrame, .imgobjetos #atrapasuenos, .imgobjetos #ceramica, .imgobjetos #almohadones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; }
  .imgobjetos .card {
    width: 230px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: #fdfdf6cd;
    border-color: #fdfdf6cd;
    border-radius: 2px;
    box-shadow: 0px 8px 8px #d4bea97e;
    margin: 40px 40px 10px 40px; }
    .imgobjetos .card img {
      width: 210px;
      height: auto;
      padding: 6px;
      margin: 30px 30px 10px 30px; }
      .imgobjetos .card img:hover {
        transition: 1.1s;
        filter: brightness(110%);
        transform: scale(1.1); }
  .imgobjetos .textobjetos {
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    background-color: #fdfdf6cd;
    color: #a1866c;
    padding: 4px; }

@media (max-width: 768px) {
  .parrafoobjetos {
    font-size: 14px;
    padding: 18px;
    margin: 30px; }
  .imgobjetos {
    margin: 54px; }
    .imgobjetos .card {
      width: 125px;
      height: 160px;
      margin: 20px 20px 5px 20px; }
      .imgobjetos .card img {
        width: 110px;
        padding: 2px;
        margin: 30px 30px 10px 30px; } }

@media (max-width: 520px) {
  .parrafoobjetos {
    font-size: 14px;
    padding: 13px;
    margin: 15px; }
  .imgobjetos {
    flex-wrap: wrap;
    margin: 10px; }
    .imgobjetos .macrame img {
      width: 150px;
      height: auto;
      padding: 4px;
      margin: 20px 20px 10px 20px; }
    .imgobjetos .macrame .textobjetos {
      font-size: 11px;
      padding: 4px; } }

.fondotienda {
  background-color: #fdfdf6cd; }

  .botonBuscar {
    display: flex;
    flex-direction: row;
    margin: 20px;}
    .botonBuscar input{
      border-radius: 8px #a1866c;
      margin: 15px;
    }
    .botonBuscar button{
      background-color: #d4bea97e;
      width: 8vw;
      padding: 0px 25px 0px 25px;
      margin: 9px;
      border: none;
      border-radius: 5px;
      font-family:  'Quicksand', sans-serif;
      font-weight: bold;
      color:rgb(252, 252, 252);
    }
    .botonVaciar{
      display: inline-block;
      margin-top: -5;
      margin-left: 80px;
    }
    .botonVaciar button{
      background-color: #d4bea97e;
      border: none;
      border-radius: 5px;
      font-family:  'Quicksand', sans-serif;
      font-weight: bold;
      color:rgb(252, 252, 252);
      padding: 10px 25px;

    }
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px 10px 60px; }
  .container .card {
    padding: 5px;
    width: 250px;
    height: 380px;
    border-radius: 8px;
    border: none;
    overflow-y: hidden;
    margin: 10px;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fdfdf6cd;
    align-items: center;
    box-shadow: 0px 8px 8px #d4bea97e; }
    .container .card img {
      padding: 2px;
      width: 200px;
      height: 250px; }
    .container .card p {
      font-family: "Quicksand", sans-serif;
      background-color: #fdfdf6cd;
      font-size: 16px;
      padding: 5px 2px 5px 2px;
      margin: 2px;
      color: #a1866c;
      border-radius: 3px; }
    .container .card h4 {
      font-family: "Quicksand", sans-serif;
      color: #a1866c;
      font-size: 18px;
      margin: 8px 0 8px;
      padding: 2px;
      background-color: #fdfdf6cd;
      border-radius: 3px; }
    .container .card button {
      background-color: #fdfdf6cd;
      color: #a1866c;
      padding: 5px 25px 5px 25px;
      text-decoration: none;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      border: none;
      border-radius: 5px;
      margin: 2px; }
      .container .card button:hover {
        box-shadow: 0 1px 2px 0;
        transform: scale(1.05);
        background-color: #d4bea97e;
        color: #fdfdf6cd;
        font-weight: bold;
        transition: 0.3s; }

@media (max-width: 768px) {
  .container {
    margin: 50px; }
    .container .card {
      width: 180px;
      height: 300px; }
      .container .card img {
        width: 170px;
        height: 250px; }
      .container .card p {
        font-size: 11px;
        padding: 0px 2px 0px 0px;
        margin: 0px; }
      .container .card h4 {
        font-size: 12px;
        margin: 1px 0 2px;
        padding: 1px; }
      .container .card a {
        font-size: 11px;
        margin: 1px; } }

@media (max-width: 375px) {
  .container {
    margin: 12px; }
    .container .card {
      width: 150px;
      height: 260px; }
      .container .card img {
        width: 132px;
        height: 192px; }
      .container .card p {
        font-size: 11px;
        padding: 0px 2px 0px 0px;
        margin: 0px; }
      .container .card h4 {
        font-size: 12px;
        margin: 1px 0 2px;
        padding: 1px; }
      .container .card a {
        font-size: 11px;
        margin: 1px; } }

.form {
  width: 100%; }
  .form form {
    display: inline-block;
    padding: 30px;
    margin-left: 350px;
    margin-bottom: 30px;
    background-color: #fdfdf6cd;
    color: #d4bea97e;
    border: #d4bea97e solid 2px;
    border-radius: 3px;
    font-family: "Quicksand", sans-serif;
    align-items: center; }
    .form form input {
      margin: 5px;
      border: solid 2px #d4bea97e;
      border-radius: 5px; }
      .form form input:focus {
        outline-color: #a1866c; }
    .form form label {
      color: #a1866c; }
    .form form textarea {
      margin: 5px;
      border: #d4bea97e solid 2px;
      border-radius: 5px; }
      .form form textarea:focus {
        outline-color: #a1866c; }
    .form form button {
      background-color: #fdfdf6cd;
      color: #a1866c;
      padding: 5px 25px 5px 25px;
      font-weight: 600;
      border-radius: 12px;
      border-color: #d4bea97e;
      margin-left: 180px; }
      .form form button:hover {
        background-color: #a1866c;
        color: #fdfdf6cd;
        font-weight: bold; }

@media (max-width: 768px) {
  .form form {
    width: 60%;
    height: 400px;
    margin: 50px;
    margin-left: 150px; }
    .form form input {
      margin: 2px;
      font-size: 12px; }
    .form form textarea {
      width: 85%;
      height: 40%;
      margin: 0px 25px; }
    .form form button {
      margin: 1px 135px; } }

@media (max-width: 375px) {
  .form {
    width: 90%; }
    .form form {
      width: 90%;
      height: 350px;
      margin-top: 10px;
      margin-left: 35px;
      padding: 5px; }
      .form form input {
        margin: 2px;
        font-size: 12px; }
      .form form label {
        font-size: 13px; }
      .form form textarea {
        width: 95%;
        height: 35%;
        font-size: 12px;
        margin: 5px; }
      .form form button {
        font-size: 12px;
        margin-left: 95px;
        margin-top: -120px; } }
